.row(style="height: 15px;")
  .col.s12.header-frame
    .right
      .btn-group
        a(ng-click="hideFrame()")
          button.btn-flat.waves-effect.waves-light
            i.material-icons remove
        a(ng-click="closeFrame()")
          button.btn-flat.waves-effect.waves-light
            i.material-icons close
