.navbar-fixed
  nav
    .nav-wrapper
      a(href="#/").brand-logo.center Operation Zeus
      ul.left
        li.waves-effect.waves-light
          a(href="#/")
            i.material-icons settings_input_antenna
      ul.right
        li.waves-effect.waves-light
          a(href="#/about")
            i.material-icons info_outline
        li.waves-effect.waves-light
          a(href="#/settings")
            i.material-icons settings
