ul.menu#context-menu {
  // Yeah, I definitely wasn't the one who designed this :O
  position: absolute;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
  z-index: 1000;
  background: #fff;
  cursor: default;
  font-size: 13px;
  margin: 0;
  outline: none;

  // The way that material targets the divider is odd - so we have to re-create it.
  md-menu-divider {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
  }
}
