// Declare the variables associated with this theme
@main-color: @blue-medium;
@secondary-color: @blue-hard;
@good-color: #42bd41;
@warn-color: #D50000;
@body-background: @grey-dark;
@header-background: @grey-dark;

@text-color-hard: @grey-light;
@text-color-medium: @grey-medium;
@text-color-light: @grey-hard;
@text-color-accent: @grey-accent;

@shadow-multiplier: 1.7;
@toast-background: #323232;
@toast-error-background:  #f77;

@body-color: @body-background;
@sheet-color: lighten(@body-color, 6.5%);
@hover-color: lighten(@sheet-color, 3.25%);

// Set the ones needed to be changed
body.dark-theme {
  // Main general colors
  color: @text-color-medium;

  // Icons
  md-icon {
    color: @text-color-medium;
  }

  md-content {
    background-color: @sheet-color;
    color: @text-color-medium;
  }

  md-dialog {
    background-color: @sheet-color;
    color: @text-color-medium;

    md-input-container:not(.md-input-invalid).md-input-has-value label {
      color: @text-color-medium;
    }

    md-autocomplete {
      background-color: lighten(@sheet-color, 5%);

      input {
        color: darken(@text-color-medium, 10%);
      }
    }

    md-dialog-actions {
      button.md-cancel-button.md-button.md-primary {
        color: @warn-color-twilight;
      }

      button.md-confirm-button.md-button.md-primary {
        color: @good-color-twilight;
      }
    }
  }

  md-virtual-repeat-container.md-autocomplete-suggestions-container {
    background-color: lighten(@sheet-color, 5%);
    color: darken(@text-color-medium, 10%);

    li:hover {
      background-color: lighten(@hover-color, 10%);
    }
  }

  ul#context-menu {
    border: none;
  }

  main, main > md-content {
    background: @body-color !important;
  }

  // Typography
  h1, h2, h3, h4, h5, h6 {
    color: @text-color-hard;
  }

  .md-body-1 {
    color: @text-color-medium;
  }

  .md-body-2 {
    color: @text-color-hard;
  }

  .md-headline {
    color: @text-color-hard !important;
  }

  .md-subhead {
    color: @text-color-light !important;
  }

  .md-list-item-text {
    h3 {
      color: @text-color-hard !important;
    }

    p {
      color: @text-color-medium !important;
    }
  }

  a {
    color: @secondary-color;
  }

  //SLIDER
  .md-thumb-text {
    color: white;
  }

  //CHECKBOXES
  .md-checked .md-icon:after {
    border-color: @sheet-color !important;
  }

  md-toolbar {
    background-color: @sheet-color;

    .md-button, .md-button.md-icon-button > md-icon {
      color: lighten(@text-color-hard, 10%) !important;
    }
  }

  md-progress-linear {
    .md-bar {
      background-color: darken(@secondary-color, 10%);
    }

    .md-container {
      background-color: @main-color;
    }
  }

  md-menu-content {
    background-color: @sheet-color;
    color: @text-color-medium;
  }

  md-card {
    background-color: initial;
  }

  md-list-item {
    color: @text-color-hard;
  }

  md-tabs .md-tab:not(.md-active) {
    color: @text-color-medium;
  }

  md-input-container {
    label {
      color: @text-color-light;
    }

    &.md-input-invalid label {
      color: @warn-color;
    }

    .md-input {
      color: @text-color-hard;
    }
  }

  // Buttons
  .md-button {
    color: @text-color-medium;

    &.md-action {
      color: white;
    }

    &.md-accent {
      color: @text-color-accent;
    }
  }

  .md-button.md-primary.md-raised {
    color: @white;
  }

  .md-raised:not([disabled]) {
    background-color: @sheet-color;

    &.md-primary {
      background-color: darken(@main-color, 50%);

      &:hover {
        background-color: darken(@main-color, 30%);
      }
    }

    &.md-warn {
      background-color: @warn-color;

      &:hover {
        background-color: lighten(@warn-color, 20%);
      }
    }

    &.md-focused, &:hover {
      background-color: @hover-color;
    }
  }

  .md-button.md-raised[disabled] {
    //material-angular likes to add !important clauses
    color: @text-color-light !important;
  }

  md-checkbox .md-icon {
    border-color: @text-color-light;
  }

  md-input-container .md-input {
    border-color: @text-color-light;
  }

  md-input-container.md-input-invalid .md-input {
    border-color: @warn-color;
  }

  md-select md-select-value,
  md-select md-select-value.md-select-placeholder {
    border-color: @text-color-light;
    color: @text-color-light;
  }

  md-radio-button:not(.md-checked) {
    .md-off {
      border-color: @text-color-light;
    }
  }

  md-slider {
    .md-track {
      background-color: @main-color;
    }

    .md-track-fill {
      background-color: darken(@secondary-color, 10%) !important;
    }

    .md-thumb:after {
      border-color: darken(@secondary-color, 10%);
      background-color: darken(@secondary-color, 10%);
    }
  }
}
