.podcast-panel, .podcast-panel > img {
  max-width: 125px;
  margin: .5em 0 1em 1em;
  position: relative;
  display: inline;
}

.btn-group {
  color: #eee;

  a > button {
    margin-left: 1em;
    color: #eee;
    // max-width: 10px;
    padding: 0 3px;
  }
}
