/* Includes */
@import "material-icons.less";
@import "angular-material.less";
@import "angular-hotkeys.less";
@import "ng-animate.less";

/* Themes */
@import "variables.less";
@import "theme.less";
@import "dark-theme.less";
@import "twilight-theme.less";
@import "table.less";

/* Pages */
@import "splash-screen.less";
@import "home.less";
@import "podcast.less";
@import "player.less";
@import "context-menu.less";

article.preloader {
  margin-top: 1em;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.header-frame {
  position: fixed;
  z-index: 1000;
  background-color: #ee6e73;
}
