// Global variables used in all themes
@grey-dark: #222222;
@grey-hard: #666666;
@grey-medium: #999999;
@grey-light: #bbbbbb;
@grey-very-light: #dddddd;

@blue-hard: #4b9cd4;
@blue-medium: #99ccff;
@blue-light: #ccccff;

@white: #ffffff;
@white-dirty: #eeeeee;
@hover-white: #f5f5f5;

@twilight-base: #000;
@twilight-darker: #272B30;
@twilight-dark: #3A3F44;
@twilight: #52575C;
@twilight-light: #7A8288;
@twilight-lighter: #999;

@twilight-brand-primary: @twilight-light;
@twilight-brand-success: #62c462;
@twilight-brand-info: #5bc0de;
@twilight-brand-warning: #f89406;
@twilight-brand-danger: #ee5f5b;

@twilight-text-color: #C8C8C8;
@twilight-active: #fff;
