article(layout="column" layout-align="" flex-offset="5")
  h3(align="center").md-display-1 About
  h4.md-headline Version Info
  p.md-body-1 Current release: <span ng-bind="version.currentVersion">, released on <span ng-bind="version.versionDate">
  p.md-body-1 Current git hash:
  code(ng-bind="version.hash")
  
  h4.md-headline Credits
  p.md-body-1 Developed by <a href="https://github.com/luop90" target="_blank">Luop90</a>, built on <a href="http://electron.atom.io" target="_blank">Electron</a>. Released under the GPLv3 License.

  h4.md-headline Major Includes
  ul.has-icons
    li
      a(href="http://electron.atom.io/") Electron
    li
      a(href="https://angularjs.org") AngularJS
    li
      a(href="https://material.angularjs.org/") Material Design
    li
      a(href="https://design.google.com/icons/") Google's Material Icons

  
  p.md-body-1 Source Code available on <a href="https://github.com/luop90/Operation-Zeus" target="_blank">Github</a>
