article(ng-controller="HomePageCtrl" layout="column" layout-align="space-between" flex-offset="5" data-context-menu="partials/context-menu-podcast.html")
  section(layout="row")
    podcast-panel(ng-repeat="podcast in podcasts track by $index")
    p(ng-show="podcasts.length < 1").md-body-1 You currently have no podcasts! Why don't you add one...?
    
  section(layout="column")
    md-fab-toolbar(md-direction="left")
      md-fab-trigger.align-with-text
        md-button(aria-label="menu").md-fab.md-primary
          md-icon(md-font-library="material-icons") menu
          
      md-toolbar
        md-fab-actions.md-toolbar-tools
          md-button(aria-label="Edit Podcasts" ng-click="editPodcasts()").md-icon-button
            md-icon(md-font-library="material-icons") mode_edit
            //- md-tooltip() Edit Podcasts
          md-button(aria-label="Refresh all feeds" ng-click="refreshAllPodcasts()").md-icon-button
            md-icon(md-font-library="material-icons") cached
            //- md-tooltip() Refresh All Podcast Feeds
          md-button(aria-label="Add Podcast" ng-click="openPodcastModal($event)").md-icon-button
            md-icon(md-font-library="material-icons") add
            //- md-tooltip() Add Podcast
            
  div(style="display: none")
    div.md-dialog-container#addPodcastModal
      md-dialog(layout-padding)
        form(ng-model="podcastInfo" ng-submit="addNewPodcast(podcastInfo)")
          md-input-container
            label RSS Feed URL
            input(type="text" ng-required="true" ng-model="podcastInfo.url")
          div(layout="row")
            md-button(aria-label="Close" ng-click="closePodcastModal()") Cancel
            md-button(type="submit" aria-label="Add").good Add
          div(layout="row" style="margin-bottom: 2px;" layout-align="center center")
            preloader-small(ng-show="loadingRSSFeed")
            span(ng-show="podcastInfo.hasError").danger
              span(ng-bind="podcastInfo.errorMessage")
