article(layout="column" flex="90" flex-offset="5")
  article(layout="row" layout-align="center")
    img(ng-src="{{ ::podcastPlayer.episode.image.url }}" alt="{{ ::podcastPlayer.episode.title }}" height="400" align="center" ng-click="showNotes = true" ng-hide="showNotes" style="margin-top: 1em;").hover
    
    md-card(ng-show="showNotes" style="width: 80%; overflow: auto; height: 400px;")
      md-card-title
        md-card-title-text
          span(ng-bind="podcastPlayer.podcast.meta.title" ng-click="showNotes = false").md-headline.hover
          span(ng-bind="podcastPlayer.episode.title" ng-click="showNotes = false").md-subhead.hover
          span(data-bind="podcastPlayer.episode.description" style="max-width: 500px").md-body-1        

  article(layout="row" layout-align="center center").no-select
    section(flex="10" flex-offset="5")
      span(ng-bind="podcastPlayer.sound.currentTime | trackTime")
    section(flex="90").no-select
      span(ng-show="podcastPlayer.playback.showHoverPosition" ng-style="{ 'left': podcastPlayer.playback.tooltipLeft, 'top': podcastPlayer.playback.tooltipTop }").playback-tooltip
        span(ng-bind="podcastPlayer.playback.hoverTime")
        .playback-backdrop(ng-show="podcastPlayer.playback.showHoverPosition")
      md-progress-linear(md-mode="determinate" value="{{ (podcastPlayer.sound.progress * 100) }}" ng-click="podcastPlayer.playback.goToPosition($event)" ng-mousemove="podcastPlayer.playback.showPosition($event)" ng-mouseleave="podcastPlayer.playback.showHoverPosition = false;" style="height: 8px;").hover.no-select
    section(flex="10" flex-offset="5")
      span(ng-bind="podcastPlayer.sound.remaining | trackTime")

  article(layout="row" layout-align="center").no-select
    section(flex="20" flex-offset="15")
      span(ng-click="podcastPlayer.playback.lastEpisode()").hover
        md-icon(md-icon-library="material-icons") skip_previous
        md-tooltip(md-direction="bottom") Back to previous episode
    section(flex="20")
      span(ng-click="podcastPlayer.playback.replay10Seconds()").hover
        md-icon(md-icon-library="material-icons") replay_10
        md-tooltip(md-direction="bottom") Rewind 10 seconds
    section(flex="20")
      span(ng-click="podcastPlayer.playback.playPodcast()" ng-hide="podcastPlayer.playback.currentlyPlaying").hover
        md-icon(md-icon-library="material-icons") play_arrow
        md-tooltip(md-direction="bottom") Play
      span(ng-click="podcastPlayer.playback.pausePodcast()" ng-show="podcastPlayer.playback.currentlyPlaying").hover
        md-icon(md-icon-library="material-icons") pause
        md-tooltip(md-direction="bottom") Pause
    section(flex="20")
      span(ng-click="podcastPlayer.playback.forward30Seconds()").hover
        md-icon(md-icon-library="material-icons") forward_30
        md-tooltip(md-direction="bottom") Skip 30 seconds
    section(flex="20")
      span(ng-click="podcastPlayer.playback.nextEpisode()").hover
        md-icon(md-icon-library="material-icons") skip_next
        md-tooltip(md-direction="bottom") Skip to next episode
        
  article(layout="row" layout-align="center")
    section(flex="22")
      md-button(style="width: 150px;" aria-label="Smart Speed" ng-click="podcastPlayer.playback.smartSpeed = !podcastPlayer.playback.smartSpeed" ng-class="{ 'md-primary md-raised': podcastPlayer.playback.smartSpeed }").no-select
        span Smart Speed: 
        span(ng-show="podcastPlayer.playback.smartSpeed") On
        span(ng-hide="podcastPlayer.playback.smartSpeed") Off
    section(flex="45")
      md-slider-container
        span.no-select
          md-icon(md-icon-library="material-icons" ng-show="podcastPlayer.playback.volume > 70") volume_up
          md-icon(md-icon-library="material-icons" ng-show="podcastPlayer.playback.volume >= 30 && podcastPlayer.playback.volume <= 70") volume_down
          md-icon(md-icon-library="material-icons" ng-show="podcastPlayer.playback.volume > 0 && podcastPlayer.playback.volume < 30") volume_mute
          md-icon(md-icon-library="material-icons" ng-show="podcastPlayer.playback.volume == 0") volume_off
        md-slider(ng-model="podcastPlayer.playback.volume" min="0" max="100" aria-label="Volume" md-range).md-primary
    section(flex="30")
      md-button(style="width: 150px;" aria-label="Voice Boost" ng-click="podcastPlayer.playback.voiceBoost = !podcastPlayer.playback.voiceBoost" ng-class="{ 'md-primary md-raised': podcastPlayer.playback.voiceBoost }").no-select
        span Voice Boost: 
        span(ng-show="podcastPlayer.playback.voiceBoost") On
        span(ng-hide="podcastPlayer.playback.voiceBoost") Off
