section(layout="column")
  a(ui-sref="podcast({ id: podcast.id })")
    .podcast-panel.hover
      img(ng-src="{{ ::podcast.imageURL }}" ng-hide="podcasts[{{podcast.id}}].loading")
      md-tooltip(md-direction="bottom")
        span(ng-bind="podcast.meta.title")
      preloader-small-blue(ng-show="podcasts[{{podcast.id}}].loading")
