section(ng-controller="PodcastPageCtrl" ng-init="showUnplayedOnly = true;" layout="column" flex="90" flex-offset="5")
  div(flex-xs layout="column")
    md-card
      md-card-title
        md-card-title-text
          h3.md-headline
            span(ng-bind="podcast.meta.title")
          h5.md-subhead
            span(ng-bind="podcast.meta.author")
          p.md-body-1
            span(ng-bind="podcast.meta.description")
        md-card-title-media
          .md-media-lg.card-media
            img(ng-src="{{ ::podcast.imageURL }}").no-select
  md-tabs(md-dynamic-height md-border-bottom style="background-color: rgba(0, 0, 0, 0.1);")
    md-tab(label="Unplayed")
      md-content.md-padding
        md-list#podcast-panel
          md-list-item(ng-repeat="episode in podcast.podcasts" ng-class="{ 'mouse-hover': episode.isDownloaded }" ng-hide="showUnplayedOnly && episode.watched").animate-toggle.md-3-line
            podcast-episode
    md-tab(label="Feed")
      md-content.md-padding
        md-list#podcast-panel
          md-list-item(ng-repeat="episode in podcast.podcasts" ng-class="{ 'mouse-hover': episode.isDownloaded }").animate-toggle.md-3-line
            podcast-episode
