section(ng-controller="PodcastPageCtrl" ng-init="showUnplayedOnly = true;")
  .row
    .col.s12
      .card.horizontal
        .card-image
          img(ng-src="{{ ::podcast.imageURL }}")
        .card-stacked
          .card-content
            h3(ng-bind="podcast.meta.title")
            h5(ng-bind="podcast.meta.author")
            p(ng-bind="podcast.meta.description")
          .card-action
            a(ng-href="{{ ::podcast.meta.link }}" target="_blank") Visit Website
    .col.s12
      ul.tabs
        li.tab.col.s6.waves-effect.waves-blue
          a(href="#Unplayed" ng-click="showUnplayedOnly = true;").active Unplayed
        li.tab.col.s6.waves-effect.waves-blue
          a(href="#Feed" ng-click="showUnplayedOnly = false;") Feed
    .col.s12#Unplayed
      ul.collection
        li(ng-repeat="episode in podcast.podcasts" ng-class="{ 'mouse-hover waves-effect waves-light block': episode.isDownloaded }" ng-hide="showUnplayedOnly && episode.watched").collection-item.avatar.animate-toggle
          podcast-episode
    .col.s12#Feed
      ul.collection
        li(ng-repeat="episode in podcast.podcasts" ng-class="{ 'mouse-hover waves-effect waves-light block': episode.isDownloaded }").collection-item.avatar
          podcast-episode
