article.preloader.center
  .preloader-wrapper.small.active
      .spinner-layer.spinner-green-only
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
