section(ng-controller="SettingPageCtrl")
  .row
    .col.s12
      h3.center Settings
      table
        thead
          tr
            th Name
            th Value
        tbody
          tr
            td Dark Theme
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.darkTheme" checked)
                  span.lever
                  | On
          tr
            td Animations
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.animations" checked)
                  span.lever
                  | On
          tr
            td Analytics
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.analytics" checked)
                  span.lever
                  | On
          tr
            td Auto-Play
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.autoplay" checked)
                  span.lever
                  | On
          tr
            td Cache Podcast Images
            td
              .switch
                label
                  | Off
                  input(type="checkbox" ng-model="settings.cacheImages" checked)
                  span.lever
                  | On
          tr
            td Auto-Update Podcasts
            td
              .switch
                label 
                  | Off
                  input(type="checkbox" ng-model="settings.autoUpdate" checked)
                  span.lever
                  | On
          tr
            td Volume
            td
              p.range-field
                input(type="range" min="0" max="100" ng-model="settings.volumeRange")
          //- tr
          //-   td Playback
          //-   td
          //-     p
          //-       input(name="playbackType" type="radio" checked).with-gap#stream
          //-       label(for="stream") Stream Only
          //-     p
          //-       input(name="playbackType" type="radio").with-gap#download
          //-       label(for="download") Download Only
          //-     p
          //-       input(name="playbackType" type="radio").with-gap#both
          //-       label(for="both") Stream while Downloading
                
      button(ng-click="saveSettings();").btn-flat.good.right.waves-effect.waves-green Save  
