section(ng-controller="SettingPageCtrl" layout="column" flex-offset="5")
  h3(align="center").md-display-2 Settings
  table(style="width: 90%; margin-bottom: 1em;")
    thead
      tr
        th Name
        th Value
    tbody
      tr
        td Theme
        td
          md-radio-group(ng-model="settings.theme")
            md-radio-button(value="light").md-primary Light
            md-radio-button(value="dark").md-primary Dark
            md-radio-button(value="twilight").md-primary Twilight
      tr
        td Animations
        td
          md-checkbox(ng-model="settings.animations" aria-label="Animations").md-primary
      tr
        td Analytics
        td
          md-checkbox(ng-model="settings.analytics" aria-label="Analytics").md-primary
      tr
        td Auto-Play
        td
          md-checkbox(ng-model="settings.autoplay" aria-label="Auto-Play").md-primary
      tr
        td Cache Podcast Images
        td
          md-checkbox(ng-model="settings.cacheImages" aria-label="Cache Images").md-primary
      tr
        td Auto-Update Podcasts
        td
          md-checkbox(ng-model="settings.autoUpdate" aria-label="Auto-Update").md-primary
      tr
        td Playback
        td
          md-radio-group(ng-model="settings.playback")
            md-radio-button(value="stream").md-primary Stream
            md-radio-button(value="download").md-primary Download
      tr
        td Volume
        td
          md-slider(flex md-discrete ng-model="settings.volume" min="0" max="100" step="1" aria-label="Volume").md-primary
