section(ng-controller="SettingPageCtrl" layout="column" flex-offset="5")
  h3(align="center").md-display-2 Settings
  table(style="width: 90%; margin-bottom: 1em;")
    thead
      tr
        th Name
        th Value
    tbody
      tr
        td Theme
        td
          md-radio-group(ng-model="settings.theme")
            md-radio-button(value="light").md-primary Light
            md-radio-button(value="dark").md-primary Dark
            md-radio-button(value="twilight").md-primary Twilight
      tr
        td Analytics
        td
          md-checkbox(ng-model="settings.analytics" aria-label="Analytics").md-primary
      tr
        td Smart Speed
        td
          md-checkbox(ng-model="settings.smartSpeed" aria-label="Smart Speed").md-primary
      tr
        td Voice Boost
        td
          md-checkbox(ng-model="settings.voiceBoost" aria-label="Voice Boost").md-primary
      tr
        td Volume
        td
          md-slider(flex md-discrete ng-model="settings.volume" min="0" max="100" step="1" aria-label="Volume").md-primary
          
      tr(ng-hide="showAdvancedSettings")
        td
          md-button(ng-hide="showAdvancedSettings" ng-click="showAdvancedSettings = true" align="center").md-primary Show advanced...
      tr(ng-show="showAdvancedSettings")
        td Animations
        td
          md-checkbox(ng-model="settings.animations" aria-label="Animations").md-primary
      tr(ng-show="showAdvancedSettings")
        td Auto-Play
        td
          md-checkbox(ng-model="settings.autoPlay" aria-label="Auto-Play").md-primary
      tr(ng-show="showAdvancedSettings")
        td Cache Podcast Images
        td
          md-checkbox(ng-model="settings.cacheImages" aria-label="Cache Images").md-primary
      tr(ng-show="showAdvancedSettings")
        td Auto-Update Podcasts
        td
          md-checkbox(ng-model="settings.autoUpdate" aria-label="Auto-Update").md-primary
      tr(ng-show="showAdvancedSettings")
        td Playback
        td
          md-radio-group(ng-model="settings.playback")
            md-radio-button(value="stream").md-primary Stream
            md-radio-button(value="download").md-primary Download
  section(align="right")
    md-button(ng-click="revertSettings()" style="text-transform: none;").md-warn.md-raised Reset to Default
    md-button(ng-click="saveSettings()" style="text-transform: none;").md-primary.md-raised Save
